/*

Some references you may find useful:

https://developer.mozilla.org/en-US/docs/Web/CSS/background-image#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/border#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/margin#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/color#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/font-size#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/height#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-align#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/text-shadow#Syntax
https://developer.mozilla.org/en-US/docs/Web/CSS/width#Syntax
http://www.colorzilla.com/gradient-editor/

Note that I've included the background image for the page in this folder, "grey.png"

Write your CSS rules below.

Question - (1.) Why are my chess pieces larger than target chess pieces?

(2.) Is there an easier way to color border using rgb system? I colored all four components individually (top, left, right, bottom)?

border-top-color:rgb(0, 42, 64);
	border-right-color: rgb(0, 42, 64);
	border-left-color: rgb(0, 42, 64);
	border-bottom-color: rgb(0, 42, 64)

*/




body {
	background-image: url('grey.png');
}

.board {border: thick green solid
	;margin:36px auto; 
	;font-size: 350%;
	height:40%;
    width:40%;
	border-top-color:rgb(0, 42, 64);
	border-right-color: rgb(0, 42, 64);
	border-left-color: rgb(0, 42, 64);
	border-bottom-color: rgb(0, 42, 64);
}


.dark_square {
	background-color: rgb(0, 42, 64);
	color:orange; 
	text-align: center;
}

.square {
	color:orange;
	text-align: center;
	text-shadow: 1px 1px 2px grey;
}




